<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualHostsManager.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VirtualHostsManager.Config>
            <setting name="SubdomainRootDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="HostConfigDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="HostConfigTemplate" serializeAs="String">
                <value>&lt;VirtualHost *:80&gt;
    ServerName @Name
    ServerAlias www.@Name
    DocumentRoot @DocumentRootPath

    &lt;Directory "@DocumentRootPath"&gt;
        Options +Indexes +Includes +FollowSymLinks +MultiViews
        AllowOverride All
        Require local
    &lt;/Directory&gt;
&lt;/VirtualHost&gt;

&lt;VirtualHost *:443&gt;
    ServerName @Name
    ServerAlias www.@Name
    DocumentRoot @DocumentRootPath

    SSLEngine On
    SSLCertificateFile @CertificatePath
    SSLCertificateKeyFile @CertificateKeyPath

    &lt;Directory "@DocumentRootPath"&gt;
        Options +Indexes +Includes +FollowSymLinks +MultiViews
        AllowOverride All
        Require local
    &lt;/Directory&gt;
&lt;/VirtualHost&gt;</value>
            </setting>
            <setting name="CertificateCountryName" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateStateName" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateLocalityName" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateOrganizationName" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateUnitName" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateEmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenSSLPath" serializeAs="String">
                <value />
            </setting>
        </VirtualHostsManager.Config>
    </userSettings>
</configuration>